*,::before,::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(230,230,230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
}
.carteCinema {
    width: 800px;
    height: 400px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    margin-bottom: 200px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 20px 30px rgba(0,0,0,.5);
}
.logoMain {
    position: absolute;
    right: -15px;
    bottom: 50px;
    z-index: 1;
}
.imgLogo {
    width: 130px;
}
.image {
    width: 40%;
    height: 100%;
    background: url('./img/imgMovie.jpg');
    background-position: 10px 1px;
}
.contenu {
    width: 60%;
    height: 100%;
}